<%- partial('_form') %>

<ol>
<% for(var i=0; i< results.length; i++) {%>
   <li>
      <%= results[i].name %> 
      <% if(true) { %>
        <a href="<%= results[i].torrent_link %>"></a> 
      <% } %>
      &nbsp;
      <% if(true) { %>
        <%- results[i].magnet_link %>
        <%- results[i].torrent_link %>
        <a href="<%= results[i].magnet_link %>"></a> 
      <% } %>      
      (seeds: <%= results[i].seeds %> | leeches: <%= results[i].leeches %>)
   </li>
<% } %>
</ol>