<%- partial('_form') %>

<ol>
<% for(var i=0; i< results.length; i++) {%>
   <li>
      <%= results[i].name %> 
      <% if(esults[i].torrent_link) { %>
        <a href="<%= results[i].torrent_link %>">Torrent</a> 
      <% } %>
      &nbsp;
      <% if(results[i].magnet_link) { %>
        <a href="<%= results[i].magnet_link %>">Magnet</a> 
      <% } %>      
      (seeds: <%= results[i].seeds %> | leeches: <%= results[i].leeches %>)
   </li>
<% } %>
</ol>